* {
    padding: 5px;
}

span {
    color: red;
}

div.AddressComp {
    display: 'flex';
    border: 'solid grey 1px'
}

.UserDetails_div {
    border: solid #ddd 10px;
    padding: 10px 10px 0px 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.Address-div {
    display: flex;
    border: solid #ddd 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    padding: 5px;
}

.ConnectionDetails-div {
    border: solid #ddd 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    padding: 5px;
}

.selfdecl-div {
    border: solid #ddd 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: 10px;
}

.Save-btn {
    border: solid #ddd 2px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background-color: rgb(238, 170, 44);
    color: rgb(0, 0, 0);
    width: 20%;
    font-style: italic;
}

.submit-btn {
    border: solid #ddd 2px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background-color: rgb(26, 167, 233);
    color: rgb(22, 22, 22);
    width: 20%;
    font-style: italic;
}